extends base.pug
block scripts
    script(src='/static/index.js')
block style
    style
        include ../static/style.css
        include ../static/c.css
block content
        section.sorry
                h1
                | UNDER CONSTRUCTION...
                