doctype html
html
  head
    title CSEngineer4u.com
    block scripts
    block style
body
    
    <nav class="navbar">
        <div class="logo"> 
           
            <img src="static/logoo.jpg" alt="logo">
        </div>
        <ul class="navlist">
            <li  class="ho"><a href="home.pug"> Home</a></li>
            <li  class="c"><a href="c.pug"> C</a></li>
            <li  class="cpp"><a href="cpp.pug"> C++</a></li>
            <li  class="j"><a href="java.pug"> Java</a></li>
            <li  class="co"><a href="contact.pug"> Contact-Us</a></li>
       
    </nav>

    block content
    footer#footer                  
        |   Copyright &copy;2020 www.CSEngineering4u.com. All rights reserved!