extends base.pug
block scripts
    script(src='/static/index.js')
block style
    style
        include ../static/style.css
        include ../static/contact/contactresf.css
block content
        .ourcontact
           <h2>THANK YOU !</h2>
           <p>Your data has been submitted succesfully </p>