extends base.pug
block scripts
    script(src='/static/index.js')
block style
    style
        include ../static/style.css
        include ../static/cppcss/cpp1.css
block content
        <div class="page">
        <div class="mainpage">
            <div class="lesson">
                <h2>C++ Tutorial</h2>
                <cl>
                    <li><a href="cpp.pug">Introduction of C++ language</a></li>
                    <li><a href="cpp1.pug">History of C++</a></li>
                    //- <li><a href="/">introduction of c language</a></li>
                    //- <li><a href="/">introduction of c language</a></li>  -->
                </cl>

            </div>
            <div class="content">
                <h2>History of C++ </h2>
                <h3>Coming Soon...<h3>
            </div>
        </div>
        </div>