extends base.pug
block scripts
    script(src='/static/index.js')
block style
    style
        include ../static/style.css
        include ../static/home.css
block content
  <div id="back">
    <section id="intro">
    <div><h1>Welcome To CSEngineering4u.com</h1></div>
    <div><h4>The Best Portal to Learn Technologies</h4></div>
    </section>
    <section id="ourtutorial">
    <h2>Our Tutorial</h2>
    <div class="tutorial">
      <div class="card ccard">
        <a href="c.pug">C</a>
      </div>
      <div class="card cppcard">
        <a href="cpp.pug">C++</a>
      </div>
      <div class="card javacard">
        <a href="java.pug">JAVA</a>
      </div>
    </div>
    </section>
    <section id="about">
      <div class="aboutus">
        <h1>About Me</h1>
      </div>
      <div class="aboutportion">
        <div class="pic">
        </div>
        <div class="about">
          <h3> MANOJ SINGH </h3>
          <div class="aboutu">
            <p class="cse">I am a CSE Student at DIT University Dehradun(Uttrakhand)</p>
            <p>
                i I am a freelancer based in Uttrakhand, India, and I'm very passionate and dedicated to my work. With 2 years experience as a  Web Developer, I have acquired the skills necessary to websites..</p>  
            <!-- <p></p>
            <p></p>
            <p></p> 
      </div>
     
        </div>
      </div>
      
    </section>

    <div class="media">
      <div class="box fb">
        <a href="https://www.facebook.com/profile.php?id=100017047005728">Fb</a>
      </div>
      <div class="box li">
        <a href="">li</a>

      </div>
      <div class="box ins">
        <a href="https://www.instagram.com/_maahi_07__">ins</a>

      </div>
      <div class="box twi">
        <a href="https://twitter.com/MaahiSi15399191">twi</a>

      </div>
    </div>

  </div>
