extends base.pug
block scripts
    script(src='/static/index.js')
block style
    style
        include ../static/style.css
        include ../static/javacss/java1.css
block content
        <div class="page">
    
        <div class="mainpage">
            <div class="lesson">
                <h2>Java Tutorial</h2>
                <cl>
                    <li><a href="java.pug">Introduction of Java</a></li>
                    <li><a href="Java1.pug">Java - Environment Setup</a></li>
                    //- <li><a href="/">introduction of c language</a></li>
                    //- <li><a href="/">introduction of c language</a></li>
                </cl>

            </div>
            <div class="contents">
                <div class="content">
                    <h2>Java-Environment Setup</h2>
                    <p>Coming Soon...</p>

                </div>
            </div>
        </div>
        </div>